<div class="banner text-center">
  <h1>Practical Fatigue and Damage Tolerance for Aircrafts</h1>
  <h2><strong>Dr. Didier Duprat,</strong> Aerospace Senior Engineer Specialist</h2>
</div>
<div class="container">
  <h3>F&DT is sometimes considered complex. With this training, the author aims at sharing practical methods actually used in the aircraft industry. The concepts are clearly explained and illustrated.</h3>
</div>
